@{
    ViewBag.Title = "Home Page";
}
<h1>
    A&A Sport Shop  <br />

</h1>
@*<iframe width="100%" height="393" src="~/Content/logos/"   autoplay></iframe>*@
<video style="width: 100%; height: 600px; margin-left:0px " autoplay muted loop>
    <source src="~/Content/logos/9convert.com%20-%20Retail%20Store%20Video%20Interior%20Videography_1080p%20(online-video-cutter.com).mp4" type="video/mp4" />
</video>

<section id="homePage">

    <div class="homePageDiv">
        <h5>OUR SPORT SHOP</h5>
        <p>
            We are one team, we have one passion
            At PrivateSportShop, we’re just like you, passionate about sport – crazy, mad, nuts, whatever, we just love it! As we love it so much, we like to keep improving and growing. Running, hiking, skiing, snowboarding, surfing, kitesurfing, climbing… you name it.
            Anyway, round here, it’s easy to see we love sport.
        </p>
        <h5>CONTACT US</h5>
        <p>
            PHONE: 0527227716 <br />
            EMAIL: sportShop@gmail.com <br />
            ADRESS: SHLOMO HAMELECH 111,LOD <br />
        </p>
    </div>
    <div class="homePageDiv">
        <h5>AVI ADMASO</h5>
        <p>
            I am Avi Adamso, 26, from Ashdod, a student at Tech Career College,ive created this
            website as part of my current .NET project. I hope you will like it
            to see my others projects and to contact me ...

        </p>
        <h5>CONTACTS</h5>
        <p>
            GITHUB: <a href="https://github.com/avi-admaso">github</a> <br />

            LINKEDIN: <a href="https://www.linkedin.com/in/avi-admaso-a47b13218/">linkedin</a>
            <br />
            EMAIL:<a href="https://aviadmaso@gmail.com">email</a>  <br />
        </p>
        <h5>MY PROJECTS</h5>
        
        <a href="https://avi-admaso.github.io/movies.site/"><i class="material-icons">movie</i></a>
        <a href="https://avi-admaso.github.io/html-css-javascript-first-project/"><i class="material-icons">checkroom</i></a>
        <a href="https://avi-admaso.github.io/meat/index.html"><i class="material-icons">local_dining</i></a>
    </div>
</section>
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <h1>hello world</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@